<div class="pxt-shipping">
    <div class="form-header">
        <h3>Shipping & billing details</h3>
        <p>You can change the shipping method</p>
    </div>

    <div class="tab">
        <nav class="tab-nav">
            <a data-tab-btn="standard" class="tab-btn standard">
                <span class="btn-h">Standard</span>
                <span class="btn-p">5$ in 10 days</span>
            </a>
            <a data-tab-btn="express" class="tab-btn express active">
                <span class="btn-h">Express</span>
                <span class="btn-p">25$ in 5 days</span>
            </a>
            <a data-tab-btn="premium" class="tab-btn premium">
                <span class="btn-h">Premium</span>
                <span class="btn-p">50$ for tomorrow</span>
            </a>
        </nav>

        <div class="tab-content">
            <div data-tab-pane="standard" class="tab-pane">
                <div class="payment">
                    <h4 class="payment-title">"Standard" S&B content</h4>
                </div>
            </div>
            <div data-tab-pane="express" class="tab-pane active">
                <div class="payment">
                    <div class="payment-method">
                        <h4 class="payment-title">Payment method</h4>
                        <nav class="payment-nav type-one">
                            <a class="nav-link aexpress" href="#"></a>
                            <a class="nav-link mastercard active" href="#"></a>
                            <a class="nav-link visa" href="#"></a>
                            <a class="nav-link discover" href="#"></a>
                        </nav>

                        <nav class="payment-nav type-two">
                            <a class="nav-link paypal" href="#"></a>
                            <a class="nav-link amazon" href="#"></a>
                        </nav>
                    </div>
                    <div class="payment-details">
                        <h4 class="payment-title">Card details</h4>
                        <div class="payment-card">
                            <div class="form-group">
                                <label class="form-label" for="cardNumber">Card number</label>
                                <div class="row">
                                    <div class="col-4"><input class="form-input" id="cardNumber" type="text"></div>
                                    <div class="col-4"><input class="form-input" type="text"></div>
                                    <div class="col-4"><input class="form-input" type="text"></div>
                                    <div class="col-4"><input class="form-input" type="text"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-2">
                                        <div class="form-group">
                                            <label class="form-label" for="expDate">Expiration date</label>
                                            <input class="form-input" id="expDate" type="text">
                                        </div>
                                    </div>
                                    <div class="col-4 offset-1">
                                        <div class="form-group">
                                            <label class="form-label" for="cvc">CVC/CVV</label>
                                            <input class="form-input" id="cvc" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-tab-pane="premium" class="tab-pane">
                <div class="payment">
                    <h4 class="payment-title">"Premium" S&B content</h4>
                </div>
            </div>
        </div>
    </div>
</div><!-- /shipping -->
