// personal
.pxt-personal {
  padding-top: 30px;

  .row-m {
    margin-right: 0;
    margin-left: 0;
    justify-content: space-between;

    @media (min-width: 920px) {
      & {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  .col-m {

    @media (min-width: 920px) {
      & {
        flex: 0 0 394px;
        max-width: 394px;
      }
    }
  }

  .row-s {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
  }

  .col-s {
    padding-right: 5px;
    padding-left: 5px;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .add-logo {
    display: inline-block;
    margin-top: 9px;
    font-size: 0.875rem;
    line-height: 16px;
    color: #f57e80;

    @media (min-width: 920px) {
      & {
        position: absolute;
        top: calc(50% - 3px);
        right: -10px;
        margin-top: 0;
        transform: translate(100%, -50%);
      }
    }

    i {
      font-style: normal;
      margin-right: 4px;
    }
  }

  .checkbox {
    margin-top: -2px;
  }
}